body {
  font-family: "Orbitron", sans-serif;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

form {
  text-align: right;
}

h1 {
  color: #ff2281;
  text-shadow: 2px 2px 2px #e8e500;
  padding-top: 10px;
  font-weight: 700;
}

h2,
h3 {
  color: #15eb20;
  text-shadow: 2px 2px 2px blue;
}

h4 {
  color: #e8e500;
  text-shadow: 2px 2px 2px #eb2282;
}

h5 {
  color: #eb2282;
  font-weight: 600;
  text-shadow: 2px 2px 2px #e8e500;
}

i {
  color: blueviolet;
  text-shadow: 2px 2px 2px #e8e500;
  font-size: 32px;
}

p {
  font-size: 12px;
  text-align: center;
  color: #e24211;
  text-shadow: 2px 2px 2px blueviolet;
}

img.forecast-icon {
  width: 50px;
  margin-bottom: 8px;
}

img.weather-icon {
  width: 80px;
  margin-bottom: 8px;
}

.weather-app {
  background-image: linear-gradient(to bottom, #cbcdcf8a 0%, #d9dbdb46 100%),
    url("https://c4.wallpaperflare.com/wallpaper/95/981/117/mountains-music-stars-neon-wallpaper-preview.jpg");
  background-size: cover;
  max-width: 800px;
  margin: 12px auto;
  padding: 25px;
  border-radius: 20px;
}

.temperature-units {
  display: flex;
}

.emoji {
  display: block;
  font-size: 50px;
}

h2.weather-temp {
  font-size: 36px;
  font-weight: 700;
}
h1.forecast-day {
  font-size: 22px;
  font-weight: 600;
}
h3.forecast-temp {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.units {
  margin-left: 10px;
  color: #15eb20;
  text-shadow: 2px 2px 2px blue;
  font-size: 22px;
  font-weight: 700;
}

.units a {
  color: blue;
  text-shadow: 2px 2px 2px lightskyblue;
  /*color: #15eb20;
  text-shadow: 2px 2px 2px #2911b3; */
}

.location-button {
  margin: 0;
  padding: 1px 4px;
}

.fa-map-marker-alt {
  font-size: 14px;
  color: rgb(38, 15, 92);
  text-shadow: none;
}
.units a.active {
  text-decoration: none;
  cursor: default;
  color: #15eb20;
  text-shadow: 2px 2px 2px blue;
}
.description::first-letter {
  text-transform: capitalize;
}
